*.iml
*.ipr
*.iws
.idea
out
project/target
project/project
target
.bloop
.metals
.vscode
metals.sbt

*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride